body{
	height: 100%;
	background-color: black;
	margin:auto;

}



.solar-system{
	position: absolute;
	width: 600px;
	height: 600px;
}

#sun{
	top:50%;
	left:50%;

	height: 150px;
	width:150px;
	margin-top: -100px;
	margin-left:-100px;

	border-radius: 50%;
	border-style: solid;
	border-width: 3px;

	box-shadow: 0 0 128px red;
}

#mercury{
	top: 0;
	left: 50%;
	height:30px;
	width:30px;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 100%;
}

#mercury-orbit{
	top:50%;
	left:50%;
	width:165px;
	height: 165px;
	margin-left: -105px;
	margin-top: -105px;
	border-style: dotted;
	border-radius:100%;
	border-color:white;

	-webkit-animation: spin-right 3s linear infinite;
	-moz-animation: spin-right 3s linear infinite;
	animation: spin-right 3s linear infinite;


}

#venus{
	top: 0;
	left: 50%;
	height:30px;
	width:30px;
	margin-top: -19px;
	margin-left: -19px;
	border-radius: 100%;
}

#venus-orbit{
	top:50%;
	left:50%;
	width:300px;
	height: 300px;
	margin-left: -170px;
	margin-top: -170px;
	border-radius: 100%;
	border-style:dotted;
	border-color: white;

	-webkit-animation: spin-right 7s linear infinite;
	-moz-animation: spin-right 7s linear infinite;
	animation: spin-right 7s linear infinite;


}




#earth{
	top: 0;
	left: 50%;
	height:40px;
	width:40px;
	margin-top: -19px;
	margin-left: -19px;
	border-radius: 100%;


}

#earth-orbit{
	top:50%;
	left:50%;
	width:440px;
	height: 440px;
	margin-left: -240px;
	margin-top: -240px;
	border-radius: 100%;
	border-style:dotted;
	border-color: white;

	-webkit-animation: spin-right 10s linear infinite;
	-moz-animation: spin-right 10s linear infinite;
	animation: spin-right 10s linear infinite;


}

#mars{
	top: 0;
	left: 50%;
	height:40px;
	width:40px;
	margin-top: -19px;
	margin-left: -19px;
	border-radius: 100%;

}

#mars-orbit{
	top:50%;
	left:50%;
	width:600px;
	height: 600px;
	margin-left: -320px;
	margin-top: -320px;
	border-radius: 100%;
	border-style:dotted;
	border-color: white;

	-webkit-animation: spin-right 15s linear infinite;
	-moz-animation: spin-right 15s linear infinite;
	animation: spin-right 15s linear infinite;


}

#jupiter{
	top: 0;
	left: 50%;
	height:70px;
	width:70px;
	margin-top: -35px;
	margin-left: -35px;
	border-radius: 100%;

}

#jupiter-orbit{
	top:50%;
	left:50%;
	width:750px;
	height: 750px;
	margin-left: -400px;
	margin-top: -400px;
	border-radius: 100%;
	border-style:dotted;
	border-color: white;

	-webkit-animation: spin-right 19s linear infinite;
	-moz-animation: spin-right 19s linear infinite;
	animation: spin-right 19s linear infinite;


}

#saturn{
	top: 0;
	left: 50%;
	height:70px;
	width:70px;
	margin-top: -33px;
	margin-left: -33px;
	border-radius: 100%;

}

#saturn-orbit{
	top:50%;
	left:50%;
	width:950px;
	height:950px;
	margin-left: -500px;
	margin-top: -500px;
	border-radius: 100%;
	border-style:dotted;
	border-color: white;

	-webkit-animation: spin-right 10s linear infinite;
	-moz-animation: spin-right 10s linear infinite;
	animation: spin-right 10s linear infinite;


}

#uranus{
	top: 0;
	left: 50%;
	height:50px;
	width:50px;
	margin-top: -25px;
	margin-left: -25px;
	border-radius: 100%;

}

#uranus-orbit{
	top:50%;
	left:50%;
	width:1150px;
	height:1150px;
	margin-left: -600px;
	margin-top: -600px;
	border-radius: 100%;
	border-style:dotted;
	border-color: white;

	-webkit-animation: spin-right 23s linear infinite;
	-moz-animation: spin-right 23s linear infinite;
	animation: spin-right 23s linear infinite;


}

#neptune{
	top: 0;
	left: 50%;
	height:50px;
	width:50px;
	margin-top: -23px;
	margin-left: -23px;
	border-radius: 100%;

}

#neptune-orbit{
	top:50%;
	left:50%;
	width:1350px;
	height: 1350px;
	margin-left: -700px;
	margin-top: -700px;
	border-radius: 100%;
	border-style:dotted;
	border-color: white;

	-webkit-animation: spin-right 28s linear infinite;
	-moz-animation: spin-right 28s linear infinite;
	animation: spin-right 28s linear infinite;


}

@-webkit-keyframes spin-right{
	100%{
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin-right{
	100%{
		-webkit-transform: rotate(360deg);
	}
}